/* * {

    outline: solid 2px red;
} */


body {
    background-color: rgb(235, 222, 156);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 3px;
    gap: 2em;
}

button {

    width: 5em;
    height: 3em;
    border-radius: 12px;
    background-color: rgb(235, 222, 156);
    font-size: 14px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 18px;

}

.slider-text {
    color: black;
    font-size: 18px;
}


.grids {
    background-color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
    outline: 2px rgb(133, 122, 64);
}

.text {

    color: black;
    font-family: Copperplate, Papyrus, fantasy;
    font-size: 32px;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.left-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;

}